body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F7ADAC;
  color: #664B45;
}

textarea {
    font-family: 'Handlee', cursive;
}

header, h1, h2 {
    background-color: #664B45;
    color: #F7ADAC;
    text-align: center;
}

#citySearch {
  background-color: #fde8e8;
}
.low {
  background-color: green;
}
.moderate {
  background-color: orange;
}
.severe {
  background-color: red;
}
